.Header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 16px;
  border-bottom: 1px solid #3a3a3c;
}

.referle-title {
  font-size: 33px;
  margin: 0px;
}

.wordbank-count,
.hamburger-menu {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-container {
  background-color: transparent;
}

.theme-icon {
  font-size: 30px;
  cursor: pointer;
}

.hamburger {
  font-size: 16px;
  margin: 0px;
}

.hamburger {
  font-size: 40px;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .theme-icon {
    font-size: 40px;
  }
}
