.Home {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-container {
  display: flex;
  max-width: 450px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  padding-top: 15px;
}

@media screen and (max-width: 414px) {
  .Home {
    width: 320px;
  }

  .view-container {
    width: 320px;
  }
}

@media screen and (min-height: 1000px) {
  .view-container {
    justify-content: center;
  }
}
