.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  width: 50%;
  max-width: 250px;
}

.page-nav > div > p {
  font-size: 20px;
}

.page {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3A3A3C;
}

.page-number {
  font-size: 20px;
}
